{% extends "base.html" %}

{% block content %}
	<div class="container mb-5">
		<h1>Agrega una imagen nueva para <strong>"{{ film.nombre }}"</strong></h1>
		{% if message %}
			<div class="alert alert-success">
				<h4>{{ message }}</h4>
			</div>
		{% endif %}
		<div class="form-row">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<select name="id_pelicula" class="custom-select my-1 mr-sm-2" required>
					<option value="">Seleccionar</option>
					{% for f in film  %}
						<option value="{{ f.id }}">{{ f.nombre }}</option>}
					{% endfor %}
				</select>
				  <div class="form-group">
				    <label for="img">Escoge una imagen: </label>
				    <input type="file" class="form-control-file" id="img" name="img" required="">
				  </div>
				<button class="btn btn-primary" type="submit">Guardar</button>
			</form>
		</div>
	</div>

	<div class="mb-3">
		<a href="{% url "home" %}"><button class="btn btn-primary">Volver a inicio</button></a>
	</div>
{% endblock content %}